* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and navigation styles */
header {
    background: #FFF8F3;
    background-image: url(../images/images/header_bg.png), url(../images/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 180px;
}

.header-name {
    font-size: 45px;
    font-weight: 800;
}

.header-name span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    background: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;

}

.fa-regular,
.fa-solid {
    padding-right: 13px;
}

.btn {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    width: 160px;
    height: 45px;
    margin-left: 40px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
}

/* Banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 180px;

}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    background: #FFF8F3;
    margin-top: 130px;
    border-radius: 10px;
    text-align: center;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    color: var(--dark-03, #757575);
    font-size: 18px;
    padding: 30px 150px;
}

.about-info-container {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.about-info {
    padding-bottom: 130px;
}

.info-name {
    color: var(--dark-03, #757575);
    font-size: 20px;

}

.info-description {
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
}

/* Skills styles */
.skills {
    text-align: center;
    margin-top: 130px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
}

.skills-description {
    color: var(--dark-03, #757575);
    font-size: 18px;
    padding-bottom: 80px;
}

.skills-info-container {
    display: flex;
    gap: 25px;
    margin-bottom: 160px;

}

.skill-info {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px;
    margin-top: 50px;
    padding: 30px;

}

.skill-name {
    font-size: 20px;
    font-weight: 700;
    padding: 30px 0;
}

.skill-description {
    color: var(--dark-03, #757575);
    font-size: 16px;
}

/* Resumi styles */

.resume-container {
    display: flex;
    gap: 70px;
}

.div-header {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}

.common {
    margin-top: 30px;
    margin-bottom: 60px;

}

.section-name {
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}

.name {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.description {
    color: var(--Dark-03, #757575);
    padding-bottom: 10px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* Contact styles */
.contact {
    display: flex;
    gap: 120px;
    background: #FFF8F3;
    padding: 150px 230px;
}

.contact .section-title {
    text-align: start;
}

.message input {
    height: 64px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
}

.message textarea {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
}

.fa-brands {
    color: #FD6E0A;
    padding-top: 30px;
    padding-right: 24px;
}

.hide {
    display: none;
}

/* Responsive */

@media screen and (max-width: 576px) {
    .skills-info-container {
        flex-direction: column;
    }

    .skills-description {
        padding-bottom: 40px;
    }

    .skill-info {
        margin-top: 0;
    }

    .resume-container {
        flex-direction: column;
    }

    .my-education,
    .my-experience {
        padding: 20px;
    }

    .download-cv {
        margin: 0 0 50px 0;
    }

    .contact {
        flex-direction: column;
        padding: 150px 0 150px 0;
    }

    .connect {
        padding: 10px;
    }

    .message {
        width: 300px;
        padding-left: 10px;
    }

    .input-container h3 {
        padding-left: 10px;
    }

    .about-description {

        padding: 0;
    }

    .about-info-container {
        flex-direction: column;
        gap: 10px;

    }

    .about-info {
        padding-bottom: 20px;

    }

    .skills {
        margin-top: 60px;
    }

    header {
        background-image: none;
    }

    .banner {
        flex-direction: column;
    }

    .banner img {
        width: 300px;
        margin-top: 50px;
    }

    nav {
        flex-direction: column;
        padding: 20px;
    }

    nav ul {
        padding-left: 0;
        padding-bottom: 20px;
        flex-direction: column;

    }

    nav ul li {
        padding: 10px;
    }

    .btn {
        margin: 20px 0 0 0;
    }
}